<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Kalinux Development</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="./kalinux.dev">
    <link rel="manifest" href="/static/images/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container" id="app">
        <header>
            <div>
                <h2><img src="{{ url_for('static', filename='images/logotip.png') }}" alt="Kalinux Logo" class="preloader-logo"></h2>
            </div>
            <div class="header-container">
              <h1>About | Kalinux Development</h1>
            </div>   
        </header>

<main>
    <section class="projects">    
        <div class="container">
            <div class="projects-grid">
                <div class="project-card">
                    <h2>Добро пожаловать в <span class="highlight">Kalinux Security</span></h2>
                         <p>Здесь будет описание деятельности проекта...</p>
                </div>
            </div>

            <div class="projects-grid">
                <div class="project-card">
                    <h3>Чем мы занимаемся</h3>
                        <p>Здесь ты можешь описать цели и миссию проекта.</p>
                </div>
            </div>
            
            <div class="project-grid">
                <div class="project-card">
                    <h3>Наши принципы</h3>
                 <ul>
                     <p>🔒 Безопасность превыше всего</p>
                     <p>📜 Открытый исходный код</p>
                     <p>🛠 Поддержка и обучение пользователей</p>
                     <p>🌍 Интеграция технологий и автоматизация</p>
                 </ul>
                </div>
            </div>    
        </div>

        <div class="container">
            <div class="projects-grid">
                <div class="project-card">
                    <h3>Компетенция и опыт</h3>
                        <p>Info about experience</p>
                </div>
            </div>
        </div>

    </section>

</main>

<footer>
    <p>&copy; 2025 Kalinux Development </p>
  </footer> 
<div class="bottom-menu">
      <a href="#" class="bottom-menu-item" id="menu-button">
         <img src="/static/images/5.png" alt="Menu Icon">
</a>
</div>
<div class="popup-overlay" id="popup-overlay">
<div class="popup-menu" id="popup-menu">
  <button id="close-button" class="close-button">Закрыть</button> 
  <ul>
    <li><a href="/home">На Главную</a></li>
     <li><a href="/about">О странице</a></li>
     <li><a href="/social">Социальные сети</a></li>
     <li><a href="/contactus">Контакты</a></li>
     <li><a href="/projects">Проекты</a></li>
   </ul>
</div>
<script>
const menuButton = document.getElementById('menu-button');
const menuOverlay = document.getElementById('popup-overlay');
const closeButton = document.getElementById('close-button');

// Open the menu
menuButton.addEventListener('click', () => {
menuOverlay.classList.add('active'); // Show the popup
});

// Close the menu when clicking the "Close" button
closeButton.addEventListener('click', () => {
menuOverlay.classList.remove('active'); // Hide the popup
});

// Close the menu when clicking outside the popup
menuOverlay.addEventListener('click', (e) => {
if (e.target === menuOverlay) {
  menuOverlay.classList.remove('active'); // Hide the popup
}
});
</script>
</div>
</body>
</html>
